<!-- <h1>Welcome</h1>
<button class="btn btn-primary">Save</button>
<app-home style="color:red"></app-home> -->
<div>
<nav class="navbar  bg-warning navbar-fixed-top">
  
  <ul class="nav">
    <li class="nav-item">
      <a class="router-link  my-5 my-sm-0 mr-sm-2" routerLinkActive="active" href="/home">Home</a>
    </li>

    <li class="nav-item">
      <a class="router-link mx-5 mx-sm-0 mr-sm-2" routerLinkActive="active" href="/login">Login</a>
    </li>

    <li class="nav-item">
      <a class="router-link mx-5 mx-sm-0 mr-sm-2" routerLinkActive="active" href="/register">Sign_Up</a>
    </li>

    <!-- <li class="nav-item">
      <a class="router-link mx-5 mx-sm-0 mr-sm-2" routerLinkActive="active" href="/signup">SignUp</a>
    </li> -->

    <li class="nav-item">
      <a class="router-link mx-5 mx-sm-0 mr-sm-2" routerLinkActive="active" href="/employeelist">Employee_List</a>
    </li>

    <li class="nav-item">
      <a class="router-link mx-5 mx-sm-0 mr-sm-2" routerLinkActive="active" href="/addemployee">Add_Employee</a>
    </li>

    <!-- <li class="nav-item">
      <a class="router-link mx-5 mx-sm-0 mr-sm-2" class="btn btn-dark" routerLinkActive="active" href="/logout">Log_Out</a>
    </li> -->

    

    

  </ul>
 

  
    
  
    

  <!-- <ul class="nav">
    <li class="nav-item">69+1
      <a class="router-link mx-5 mx-sm-0 mr-sm-2" href="/pipes">Pipes</a>
    </li>
  </ul> -->
  <!-- <button type="submit" class="btn btn-dark" (click)="back()">LogOut</button> -->
  <!-- <a [routerLink]="['/']" class="btn btn-dark">LogOut</a> -->
  
</nav>

<router-outlet></router-outlet>
<!-- <app-home [greetmessage]="childMessage"></app-home>
<app-home (valuChange)="displayCounter($event)"></app-home>  -->
</div>
